.row
  %p.lead.text-white-70
    = I18n.t('base.intro', codesize: Codebreaker::Validations::CODE_SIZE,
                           min_digit: Codebreaker::Validations::MIN_DIGIT,
                           max_digit: Codebreaker::Validations::MAX_DIGIT)
%hr.mb-4/
%form{action: App::PATHES[:start], method: "post"}
  .form-group
    %label.lead.label{for: "player_name"}= I18n.t('menu.player_name')
    %input#player_name.form-control{autofocus: "",
      name: "player_name" , pattern: "^[\\w\\u0400-\\u04ff]{3,20}$",
      placeholder: "#{helper.flash.error || I18n.t('menu.name_placeholder')}",
      required: ""}/
  .form-group
    %label.lead.label{for: "level"}= I18n.t('menu.game_level')
    %select.custom-select{name: "level", required: ""}
      %option{value: ""}= I18n.t('menu.level_placeholder')
      - helper.levels.each do |level, values|
        %option{value: level.to_s}
          #{level.to_s.capitalize} - #{values[:hints]} hints - #{values[:attempts]} attempts
  %hr.mb-4/
  %button.btn.btn-primary.btn-lg{type: "submit"}
    = I18n.t('buttons.start_game')
  %span.float-right
    %a.btn.btn-warning.btn-lg{href: App::PATHES[:rules], role: "button"}
      = I18n.t('buttons.rules')
    %a.btn.btn-success.btn-lg{href: App::PATHES[:statistics], role: "button"}
      = I18n.t('buttons.statistics')
