%p.lead.text-white-70= I18n.t('stats.top')
%hr.mb-4/
.table-responsive-md.scores
  %table.table.table-striped.table.table-sm
    %thead
      %tr
        %th{scope: "col"} #
        %th{scope: "col"}= I18n.t('stats.name')
        %th{scope: "col"}= I18n.t('stats.level')
        %th{scope: "col"}= I18n.t('stats.attempts_left')
        %th{scope: "col"}= I18n.t('stats.hints_left')
        %th.text-center{scope: "col"}= I18n.t('stats.date')
    %tbody
      - statistics.each_with_index do |array, index|
        %tr
          %th{scope: "row"}= 1 + index
          %td= array[0].name
          %td= array[0].difficulty.capitalize
          %td.text-center #{array[0].attempts - array[0].attempts_used}/#{array[0].attempts}
          %td.text-center #{array[0].hints - array[0].hints_used}/#{array[0].hints}
          %td= I18n.l(array[1], format: "%Y.%m.%d - %R")
      - if statistics.empty?
        %tr
          %th{ scope: 'row', colspan: 6 }
            = I18n.t('stats.no_winners')
%hr.mb-4/
%a.btn.btn-primary.btn-lg{href: "/", role: "button"}
  = I18n.t('buttons.home')
